<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button
        [routerLink]="['/']"
        class="btn btn-link">On main page</button>
    </div>
    <div class="info">
        <strong>Aurhor Post</strong>
        <small>12.3.2022</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae natus perspiciatis illo accusantium iure nam ad minus maiores porro at dolor amet aspernatur, blanditiis nisi officia quisquam voluptatum asperiores dolores facilis praesentium, velit tempora. Repellendus veniam, atque commodi odit ad voluptate ab neque tempore porro animi eos earum dolore minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae natus perspiciatis illo accusantium iure nam ad minus maiores porro at dolor amet aspernatur, blanditiis nisi officia quisquam voluptatum asperiores dolores facilis praesentium, velit tempora. Repellendus veniam, atque commodi odit ad voluptate ab neque tempore porro animi eos earum dolore minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae natus perspiciatis illo accusantium iure nam ad minus maiores porro at dolor amet aspernatur, blanditiis nisi officia quisquam voluptatum asperiores dolores facilis praesentium, velit tempora. Repellendus veniam, atque commodi odit ad voluptate ab neque tempore porro animi eos earum dolore minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae natus perspiciatis illo accusantium iure nam ad minus maiores porro at dolor amet aspernatur, blanditiis nisi officia quisquam voluptatum asperiores dolores facilis praesentium, velit tempora. Repellendus veniam, atque commodi odit ad voluptate ab neque tempore porro animi eos earum dolore minima?</p>
    </div>
</div>